@import "tailwindcss";
@keyframes blink {
    0% {
      opacity: 1;
      background-color: #6b46c1; 
    }
    50% {
      opacity: 0.5;
      background-color: #f56565;
    }
    100% {
      opacity: 1;
      background-color: #6b46c1; 
    }
  }
  
  .blink {
    animation: blink 1s infinite;
  }
  